{% extends "base.html" %}

{% block title %}Чат с ИИ{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}">
{% endblock %}

{% block content %}
<div class="chat-page">
    <div class="robot-dog">
        <div class="robot-body">
            <div class="robot-head">
                <div class="robot-face">
                    <div class="robot-eyes">
                        <div class="robot-eye left"></div>
                        <div class="robot-eye right"></div>
                    </div>
                    <div class="robot-mouth"></div>
                </div>
                <div class="robot-ears">
                    <div class="robot-ear left"></div>
                    <div class="robot-ear right"></div>
                </div>
            </div>
            <div class="robot-body-main">
                <div class="robot-chest"></div>
                <div class="robot-legs">
                    <div class="robot-leg front-left"></div>
                    <div class="robot-leg front-right"></div>
                    <div class="robot-leg back-left"></div>
                    <div class="robot-leg back-right"></div>
                </div>
            </div>
            <div class="robot-tail"></div>
        </div>
    </div>

    <div class="chat-wrapper">
        <div class="chat-container">
            <div class="chat-header">
                <i class="bi bi-robot"></i> Образовательный ассистент
            </div>
            <div class="chat-messages" id="chat-messages">
                <div class="chat-message bot">
                    <div class="message-content">
                        Здравствуйте! Я ваш образовательный ассистент. Готов помочь вам с любыми вопросами по обучению.
                    </div>
                </div>
            </div>
            <form class="chat-form" id="chat-form">
                <input type="text" id="chat-input" placeholder="Введите ваше сообщение..." autocomplete="off">
                <button type="submit">
                    <i class="bi bi-send"></i>
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{{ url_for('static', filename='js/chat.js') }}"></script>
{% endblock %} 